@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&family=Fasthand&family=Fraunces:opsz,wght@9..144,600&family=Hanken+Grotesk:wght@500;700;800&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color:  hsl(216, 12%, 8%);
}

.inner-div{
    /* display: block; */
}

.card-div {
    height: 260px;
    width: 250px;
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    margin: 160px auto 0;    
    display: flex;
    justify-content: none;
    align-items: none;
}

.circle-div{
    background-color: hsl(212, 14%, 24%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 20px 0px 0px 20px;
}

#img-star{
    padding-top: 5px;
    padding-left: 7px;
}

#heading{
    margin: 20px 0px 0px 20px;
    color: hsl(0, 0%, 100%);
}

.paragraph{
    font-size: 9px;
    margin: 10px 15px 0px 20px;
    font-weight: bold;
    color: hsl(0, 2%, 78%);
}

.circle-rank-line{
    display: flex;
}

.circle-rank{
    display: flex;
    background-color: hsl(212, 14%, 24%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 20px 0px 0px 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: bold;
}